.cover-photo {
    height: 20rem;
}

.vert-center {
    margin-top: auto;
    margin-bottom: auto;
}

.main-content {
    background-color: #fdf7ff;
}

.expandable {
    max-width: 60%;
}

.card-version {
    display: none;
}

.line-version {
    display: flex;
}

@media screen and (max-width: 500px) {
    .card-version {
        display: flex;
    }

    .line-version {
        display: none;
    }
}

@media screen and (max-width: 800px) {
    .expandable {
        width: 100%;
        max-width: 100%;
        min-width: 100%;
    }
}

.mobileSizing {
    float:left;
    display: none;
}

@media only screen and (max-width: 800px){
	.mobileSizing {float:none;}
}